<%provide(:title,"About")%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title)%> | Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      <a href="http://www.railstutorial.org/"></a>
      <em>Ruby on Rails tutorial</em>
      is a 
      <a href="http://www.railstutorial.org/book">book</a> and
      <a href="http://www.screencasts.railstutorial.org/">screencast series</a>
      to teach web development with <a href="http://www.railstutorial.org/">Ruby on Rails</a>.
      This is the sample app
    </p>
  </body>
</html>
