<%provide(:title,"About")%>
<h1>About</h1>
<p>
  <a href="http://www.railstutorial.org/"></a>
  <em>Ruby on Rails tutorial</em>
  is a 
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://www.screencasts.railstutorial.org/">screencast series</a>
  to teach web development with <a href="http://www.railstutorial.org/">Ruby on Rails</a>.
  This is the sample app
</p>
