<%provide(:title,'Home')%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %> | Rails Tutorial Sample App</title
  </head>
    <body>
      <h1>StaticPages#home</h1>
      <p>
        <%= link_to 'Home Page', static_pages_home_path %>
      </p>
    </body>
  </html>
