<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= @user.errors.count == 1 ? "1 error" : "#{@user.errors.count} errors" %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
