<%= form_with model: @micropost, local: true do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class="field">
    <%= form.text_field :content ,class:"form-control", placeholder:"Compose new microposts"%>
  </div>
  <%= form.submit "Post", class:"btn btn-primary"%>
<% end %>
