<div class="stats">
  <a href="#">
    <strong id="following" class="stat">
      <%= current_user.following.count %>
    </strong>
    following
  </a>
  <a href="#">
    <strong id="followers" class="stat">
      <%= current_user.followers.count %>
      followers
    </strong>
  </a>
</div>
