@import "bootstrap-sprockets";
@import "bootstrap";
// universal styles

html {
  overflow-y:scroll
}

body {
  padding:60px;
}

textarea {
  resize: vertical;
}

.center {
  text-align:center;
  h1 {
    margin-bottom:10px;
  }
}
